.experiences_section {
   overflow-x: hidden;
}

.experience_title {
   color: #dd127f;
   padding: 15px;
   margin: auto;
}

.experiences {
   margin: 0;
}

@media (min-width: 768px) {
   .experience_title {
      padding-bottom: 0px;
      margin-left: 355px;
   }

   .experiences {
      width: calc(100% - 355px);
      margin-left: 355px;  
   }
}