.html {
   overflow-y: hidden;
}

.experiences_section {
   border: 2px solid #dd127f;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #FBACBE;
   background-color: #FFFFFF;
   padding: 20px;
   margin: 20px;
   text-align: center;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.experience_name {
   padding: 10px;
   border-radius: 5px;
}

.experience_year {
   margin: 10px;
}

.experience_desc {
   background-color: #FFFFFF;
   color: #000000;
   padding: 10px;
   border-radius: 5px;
   text-align: left;
}

.experience_desc li {
   margin-bottom: 5px; 
}