.desc {
   border: 2px solid #dd127f;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #FBACBE;
   background-color: #FFFFFF;
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 70vw;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.desc-title, .desc-duration, .desc-para {
   font-family: Verdana;
}

.desc-title {
   background-color: #FFFFFF;
   color: #dd127f;
   padding: 10px;
   border-radius: 5px;
}

.desc-duration {
   color: #dd127f;
   margin: 10px;
}

.desc-para {
   background-color: #FFFFFF;
   color: #000000;
   padding: 10px;
   border-radius: 5px;
   text-align: left;
}

.desc-para li {
   margin-bottom: 5px; 
}