#everything-home {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   overflow: auto;
}

.section-title {
   font-family: 'Courier New', monospace;
}

#about-me {
   border: 2px solid #A18276;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(251,172,190, 0.5);
   background-color: rgba(241,214,184, 0.7);
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 70vw;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
}

#about-me-para {
   font-family: Verdana;
   text-align: justify;
}

#work-exp, #extra-exp {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

#pic-and-desc {
   gap: 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#connect {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.connect-options {
   background-color: #A18276;
   color: white;
   border: 1px solid #A18276;
   font-family: Verdana;
   font-size: 24;
   text-align: center;
   width: 100px;
   padding: 20px;
   margin: 20px;
   cursor: pointer;
}

.connect-options:hover {
   background-color: #DAC6B5;
   /* background-color: rgba(251,172,190, 0.5); */
   color: #A18276;
   border: 1px solid #A18276;
}

.connect-options::after {
   content: '';
   width: 0;
   height: 2px;
   display: block;
   background: #A18276;
   transition: width 0.3s ease, background-color 0.3s ease;
 }
 
.connect-options:hover::after {
   width: 100%;
 }
