#everything-home {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   overflow: auto;
}

.section-title {
   font-family: Verdana;
   font-size: 32px;
   margin-bottom: 0;
   color: #dd127f;
}

#about-me {
   border: 2px solid #dd127f;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #FBACBE;
   background-color: #FFFFFF;
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 70vw;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
}

#about-me-pic {
   width: 25vw;
   height: auto;
   border-radius: 50%;
}

#about-me-para {
   background-color: #FFFFFF;
   color: #000000;
   padding: 10px;
   border-radius: 5px;
   font-family: Verdana;
   text-align: center;
   text-wrap: wrap;
}

#work-exp, #extra-exp {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

#connect {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.connect-options {
   background-color: #FBACBE;
   color: #dd127f;
   border: 1px solid #FBACBE;
   font-family: Verdana;
   font-size: 24;
   text-align: center;
   width: 100px;
   padding: 20px;
   margin: 20px;
   cursor: pointer;
   border-radius: 5px;;
}

.connect-options:hover {
   background-color: #FFFFFF;
   color: #dd127f;
   border: 1px solid #dd127f;
   cursor: pointer;
}

#featured-work {
   padding: 20px;
   margin: 20px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 10px;
}

.works{
   background-color: #FFFFFF;
   color: #dd127f;
   font-family: Verdana;
   font-style: normal;
   border: 2px solid #dd127f;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #FBACBE;
}

#featured-work img {
   width: 400px;
   height: 250px;;
   padding: 16px;
}