#everything-home {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   overflow: auto;
}

.section-title {
   font-family: 'Courier New', monospace;
}

#about-me {
   border: 2px solid #A18276;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(251,172,190, 0.5);
   background-color: rgba(241,214,184, 0.7);
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 70vw;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
}

#about-me-pic {
   width: 25vw;
   height: auto;
   border-radius: 50%;
}

#about-me-para {
   background-color: rgb(255,255,255, 0.8);
   color: #A18276;
   padding: 10px;
   border-radius: 5px;
   font-family: Verdana;
   text-align: center;
   text-wrap: wrap;
}

#work-exp, #extra-exp {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

#connect {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.connect-options {
   background-color: #A18276;
   color: white;
   border: 1px solid #A18276;
   font-family: Verdana;
   font-size: 24;
   text-align: center;
   width: 100px;
   padding: 20px;
   margin: 20px;
   cursor: pointer;
   border-radius: 5px;;
}

.connect-options:hover {
   background-color: rgb(255,255,255, 0.8);
   color: #A18276;
   border: 1px solid #A18276;
}

.connect-options::after {
   content: '';
   width: 0;
   height: 2px;
   display: block;
   background: #A18276;
   transition: width 0.3s ease, background-color 0.3s ease;
 }
 
.connect-options:hover::after {
   width: 100%;
 }

#featured {
   width: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
}

#featured-work {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

#featured-work img {
   width: 30vw;
   height: auto;
   border: 2px solid #A18276;
   border-radius: 10px;
}

#featured-work img:hover {
   cursor: pointer;
   filter: saturate(0);
}