body {
  background-color: rgb(255,255,255, 0.8);
  margin: 0;
}

#ayly-title {
  font-size: 32px;
}

#nav {
  background-color: #FFC8DD;
  color: #A18276;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0 16px;
}

#nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

#nav a {
  color: #A18276;
  text-decoration: none;
}

#nav li a {
  display: block;
  color: #A18276;
  font-size: 24px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

#nav li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #A18276;
  transition: width 0.3s ease, background-color 0.3s ease;
}

#nav li a:hover::after {
  width: 100%;
  left: 0;
}

#foot {
  margin: 0;
  background-color: #FFC8DD;
  color: #A18276;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.socials-img {
  transition: filter 0.5s ease;
  filter: none;
}

.socials-img:hover {
  filter: hue-rotate(180deg) saturate(1) sepia(1);
}