#everything {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   flex-wrap: wrap;
   overflow: auto;
}

.proj {
   border: 2px solid #dd127f;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #FBACBE;
   background-color: #FFFFFF;
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 30vw;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
}

.proj-title, .brief-desc {
   color: #dd127f;
   font-family: Verdana;
   overflow-wrap: break-word;
}

.proj-title {
   border-bottom: 2px solid #dd127f;
   width: 70%;
   padding: 10px;
}

.brief-desc {
   margin: 0;
}

.proj-img {
   width: 100%;
   height: auto;
   margin: 5px;
}

.demo-link {
   color: #dd127f;
   font-family: Verdana;
}

.links {
   display: flex;
   flex-wrap: wrap;
}

.link-btn, .desc-btn {
   background-color: #FBACBE;
   color: #dd127f;
   border: 1px solid #FBACBE;
   font-family: Verdana;
   font-size: 16;
   text-align: center;
   width: 100px;
   padding: 10px;
   margin: 10px;
   cursor: pointer;
}

.link-btn:hover, .desc-btn:hover {
   background-color: #FFFFFF;
   color: #dd127f;
   border: 1px solid #dd127f;
}

.link-btn::after, .desc-btn::after {
   content: '';
   width: 0;
   height: 2px;
   display: block;
   background: #dd127f;
   transition: width 0.3s ease, background-color 0.3s ease;
 }
 
.link-btn:hover::after, .desc-btn:hover::after {
   width: 100%;
 }

.proj-full-desc {
   background-color: #FFFFFF;
   color: #000000;
   padding: 10px;
   border-radius: 5px;
   text-align: left;
}

.hidden {
   display: none;
 }

.visible {
   display: inline-block;
}