#everything {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   flex-wrap: wrap;
   overflow: auto;
}

.proj {
   border: 2px solid #A18276;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(251,172,190, 0.5);
   background-color: rgba(241,214,184, 0.7);
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 30vw;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
}

.links {
   display: flex;
   flex-wrap: wrap;
}

.link-btn, .desc-btn {
   background-color: #A18276;
   color: white;
   border: 1px solid #A18276;
   font-family: Verdana;
   font-size: 16;
   text-align: center;
   width: 100px;
   padding: 10px;
   margin: 10px;
   cursor: pointer;
}

.link-btn:hover, .desc-btn:hover {
   background-color: #DAC6B5;
   color: #A18276;
   border: 1px solid #A18276;
}

.link-btn::after, .desc-btn::after {
   content: '';
   width: 0;
   height: 2px;
   display: block;
   background: #A18276;
   transition: width 0.3s ease, background-color 0.3s ease;
 }
 
.link-btn:hover::after, .desc-btn:hover::after {
   width: 100%;
 }

.proj-full-desc {
   
}


.hidden {
   display: none;
 }

.visible {
   display: inline-block;
}